body {
  margin: 0;
  padding: 0;
}
#app {
  --days: 7;
  display: grid;
  height: 100vh;
  grid-template-rows: min-content 1fr min-content;
}
#calendar {
  display: grid;
  grid-template-columns: repeat(var(--days), 1fr);
  grid-template-rows: repeat(48, 1fr);
  background: #222;
}
#headers {
  display: grid;
  grid-template-columns: repeat(var(--days), 1fr);
  background: #111;
}
#app .day {
  font-size: 2em;
  border-bottom: 1px solid white;
  padding: 0.5em 0;
}
#calendar .event {
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  text-align: center;
  font-family: monospace;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}

#app .dayname,
#app .date {
  text-align: center;
  text-transform: uppercase;
  font-family: monospace;
  width: 2ch;
  color: #999;
  font-weight: bold;
  font-size: 1.5em;
  overflow: hidden;
  margin: auto;
}

#app .dayname {
  width: 3ch;
  font-size: 1em;
  color: #666;
}
#event_id_1 {
  grid-column: 3;
  grid-row: 5 / span 4;
}

.raid {
  font-size: 1.5em;
  background-color: #444;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}
.rogue {
  color: yellow;
}
.characterName {
}

.highlight {
  background-color: white;
}
.past-day,
.past-day2 {
  background-color: black;
  z-index: 1;
  grid-column: 1;
  grid-row: 1/-1;
}
.past-day2 {
  grid-column: 2;
}
.past-time {
  background-color: black;
  z-index: 1;
  grid-column: 3;
  grid-row: 1/8;
}
.raid.ulduar {
  background-image: url('./img/ulduar.jpg');
  background-size: cover;
}
